<spr-content-box headerText="pages.forgotPassword.headerText">
  <div *ngIf="!token" class="forgot-password">
    <span class="forgot-password__info-text">{{ 'pages.forgotPassword.infoText' | translate }}</span>
    <form class="forgot-password__form" [formGroup]="form" (submit)="onSubmit()" autocomplete="off">
      <spr-form-field
        labelText="{{'pages.forgotPassword.userName' | translate}}"
        labelFor="username-field"
        [inputErrors]="form.controls.userName.touched && form.controls.userName.errors"
        [mandatory]="true"
      >
        <input type="text" formControlName="userName" id="username-field" />
      </spr-form-field>
      <button class="spr-button-primary">{{'pages.forgotPassword.recover' | translate}}</button>
    </form>
  </div>
</spr-content-box>
