<spr-content-box [headerText]="translationsReference + '.headerText'" transformingText="uppercase">
  <div class="spr-browse-actions-wrapper">
    <spr-browse-search-form [formGroup]="searchForm" (search)="search(dataTableComponent)">
      <spr-filter-input
        filters
        inputType="number"
        formControlName="ord_id"
        [placeholder]="translationsReference + '.ord_id' | translate"
      ></spr-filter-input>
      <spr-filter-input
        filters
        inputType="date"
        formControlName="ord_created"
        [placeholder]="translationsReference + '.ord_created' | translate"
      ></spr-filter-input
      ><spr-select
        filters
        classifierCode="NTIS_ORDER_METHOD"
        formControlName="ord_created_in_ntis_portal"
        optionType="multiple"
        [advancedFilterParams]="true"
        [placeholder]="translationsReference + '.ord_created_in_ntis_portal' | translate"
      ></spr-select>
      <spr-select
        filters
        formControlName="ord_state"
        classifierCode="NTIS_ORDER_STATUS"
        optionType="multiple"
        [advancedFilterParams]="true"
        [placeholder]="translationsReference + '.ord_state' | translate"
        [advancedFilterParams]="true"
      ></spr-select>
      <spr-filter-input
        filters
        inputType="text"
        [maxLength]="50"
        formControlName="orderer"
        [textTransform]="ExtendedSearchUpperLower.CaseInsensitiveLatin"
        [placeholder]="translationsReference + '.orderer' | translate"
      ></spr-filter-input>
      <spr-filter-input
        filters
        inputType="text"
        [maxLength]="50"
        formControlName="address"
        [textTransform]="ExtendedSearchUpperLower.CaseInsensitiveLatin"
        [placeholder]="translationsReference+'.address' | translate"
      ></spr-filter-input>

      <spr-table-data-export
        buttons
        [translation]="translationsReference"
        [tableColumn]="cols"
        [tableData]="exportData"
        [fileName]="translationsReference + '.headerText'"
        (exportAllRecEvent)="loadAllRecords($event, dataTableComponent)"
      ></spr-table-data-export>
      <spr-button
        buttons
        class="spr-button-primary"
        iconName="faFileCsv"
        (click)="navigateToOrdersImport()"
        >{{translationsReference + '.importOrders' | translate }}</spr-button
      >
      <spr-button
        buttons
        (click)="toAddNewOrder()"
        class="spr-button-primary"
        iconName="faCirclePlus"
        >{{translationsReference + '.addNewOrder' | translate }}</spr-button
      >
    </spr-browse-search-form>
  </div>
  <p-table
    [value]="data"
    [autoLayout]="true"
    responsiveLayout="stack"
    breakpoint="767px"
    [lazy]="true"
    (onLazyLoad)="loadDataLazy($event)"
    [rows]="showRows"
    [totalRecords]="totalRecords"
    [paginator]="data?.length > 0"
    [rowsPerPageOptions]="rowsPerPageOptions"
    [showFirstLastIcon]="false"
    [rowHover]="true"
  >
    <ng-template pTemplate="header" let-row>
      <tr>
        <ng-container *ngFor="let col of cols">
          <th pSortableColumn="{{col.field}}">
            {{translationsReference + '.' + col.field | translate}}
            <p-sortIcon field="{{col.field}}"></p-sortIcon>
          </th>
        </ng-container>
        <th>{{'common.generalUse.actions' | translate}}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row>
      <tr>
        <ng-container *ngFor="let col of cols">
          <td>
            <span class="p-column-title">
              {{translationsReference + '.' + col.field |translate}}
            </span>
            <span>{{row[col.field]}}</span>
          </td>
        </ng-container>
        <td>
          <ntis-table-row-actions [actions]="row.actions"></ntis-table-row-actions>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" translate>
      <tr>
        <td [attr.colspan]="cols.length + 1">
          <spr-table-no-rec-found></spr-table-no-rec-found>
        </td>
      </tr>
    </ng-template>
  </p-table>
</spr-content-box>
