<!-- 

  @note Po naujienų puslapių ir susijusių elementų perkėlimo iš "Spark" 
  prototipo, pakeitimai buvo atlikti pagal NTIS projektą.
  @date 2023-05-24 
  
-->
<section class="card fade-in">
  <div class="card__header">
    <button class="card__link-button" type="button" (click)="navigateToView()" [title]="rowData.nw_title">
      {{rowData.nw_title}}
    </button>
    <spr-table-rec-actions [actionsList]="menuItems[rowData.nw_id]" *ngIf="showDropdown"> </spr-table-rec-actions>
  </div>
  <span class="card__date">{{rowData.nw_publication_date | s2Date}}</span>
  <span *ngIf="showVisibility" class="card__visibility">
    <ng-container *ngIf="rowData.is_public === DB_BOOLEAN_TRUE; else private">
      <fa-icon [icon]="faIconService.fas.faEye" size="sm" [fixedWidth]="true"></fa-icon
      >{{ translationsRef + '.public' | translate }}
    </ng-container>
    <ng-template #private
      ><fa-icon [icon]="faIconService.fas.faEyeSlash" size="sm" [fixedWidth]="true"></fa-icon
      >{{ translationsRef + '.private' | translate }}
    </ng-template>
  </span>
  <p>{{rowData.page_template_meaning ? rowData.page_template_meaning : rowData.nw_summary}}</p>
  <button class="card__read-more group" type="button" (click)="navigateToView()">
    <span class="card__read-more-text">{{translationsRef + '.readMore' | translate }}</span>
    <spr-icon name="double_arrow" size="16" />
  </button>
</section>
<spr-divider marginY="4" />
