<spr-form-field-group [text]="translationsReference + '.legend'">
  <div class="spr-form-items-flex">
    <spr-info-line [name]="translationsReference + '.name' | translate" [value]="name"></spr-info-line>
    <spr-info-line [name]="translationsReference + '.code' | translate" [value]="code"></spr-info-line>
    <spr-info-line [name]="translationsReference + '.address' | translate" [value]="address"></spr-info-line>
    <spr-info-line [name]="translationsReference + '.manager' | translate" [value]="manager"></spr-info-line>
  </div>
</spr-form-field-group>
