.block-title {
  @apply flex items-center gap-2 pb-2;

  &__number {
    @apply min-w-8 min-h-8 flex justify-center items-center 
           text-xl font-medium
           bg-neutral-0 border border-neutral-900 rounded-full;
  }

  &__text {
    @apply text-lg font-medium;
  }
}

.address-input {
  $block: &;

  @apply flex gap-2;

  &__input {
    @apply w-full max-w-sm;
  }

  ::ng-deep {
    #{$block}__button-icon {
      @apply text-2xl text-primary-500;
    }

    #{$block}__button-text {
      @apply block text-sm text-left whitespace-pre-wrap;
    }
  }
}

.input-with-units {
  @apply flex gap-1 items-end;

  &__units {
    @apply pb-1 text-sm;
  }

  &__input {
    @apply max-w-[5rem];
  }
}

.equipment-type-input {
  @apply max-w-sm;
}

.submit-wrapper {
  @apply flex justify-center pt-4;
}

.button-back {
  @apply block mb-2;
}

.order-icon {
  @apply inline-block rotate-0 transition-transform ease-linear duration-200;

  &--rotate-180 {
    @apply rotate-180;
  }
}

.results-header-wrapper {
  @apply flex justify-between;
}

.spr-edit-form-wrapper-search {
  @apply max-w-4xl mx-auto;
}
