## Compiled output
**/target
**/.settings
**/.classpath
**/.project
**/common-api.d.ts
/bin/
##############################
## Java
##############################
.mtj.tmp/
*.ear
*.nar
hs_err_pid*
src/main/java/lt/project/ntis/brokerws/gr605
src/main/java/lt/project/ntis/brokerws/jar4020
src/main/java/lt/project/ntis/brokerws/jar46
src/main/java/lt/project/ntis/brokerws/jar47
src/main/java/lt/project/ntis/brokerws/jar48
src/main/java/lt/project/ntis/brokerws/ntr40
src/main/java/lt/project/ntis/brokerws/ntr95
src/main/java/lt/project/ntis/brokerws/ntr761ws
src/main/java/lt/project/ntis/brokerws/ntr762
src/main/java/lt/project/ntis/brokerws/ntr762ws
src/main/java/lt/project/ntis/rcadrws/adm
src/main/java/lt/project/ntis/rcadrws/adrxy
src/main/java/lt/project/ntis/rcadrws/gat
src/main/java/lt/project/ntis/rcadrws/gyv
src/main/java/lt/project/ntis/rcadrws/pat
src/main/java/META-INF/JAXB/*.xjb
##############################
## Maven
##############################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
##############################
## Eclipse
##############################
.settings/
bin/
tmp/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath

/.apt_generated/
