<spr-form-field-group [text]="translationsReference + '.legend'">
  <div class="spr-form-items-flex">
    <spr-info-line
      [name]="translationsReference + '.vehiclesCount' | translate"
      [value]="vehiclesCount + ''"
    ></spr-info-line>
    <div class="manage-button-wrapper">
      <spr-button
        className="spr-button-primary"
        iconStyle="fas"
        iconName="faTruck"
        size="large"
        (click)="navigateToCarsList()"
        >{{ (translationsReference + '.manageVehicles') | translate }}</spr-button
      >
    </div>
  </div>
</spr-form-field-group>
