<spr-content-box [headerText]="translationsReference + '.headerText'" transformingText="uppercase">
  <div class="spr-browse-actions-wrapper">
    <spr-browse-search-form [formGroup]="searchForm" [formCode]="formCode" (search)="search(dataTableComponent)">
      <spr-filter-input
        filters
        inputType="number"
        [maxLength]="20"
        formControlName="ads_aob_code"
        [placeholder]="translationsReference+'.ads_aob_code' | translate"
      ></spr-filter-input>
      <spr-filter-input
        filters
        inputType="number"
        [maxLength]="20"
        formControlName="apl_pat_code"
        [placeholder]="translationsReference+'.apl_pat_code' | translate"
      ></spr-filter-input>
      <spr-filter-input
        filters
        inputType="text"
        [maxLength]="150"
        formControlName="ad_address"
        [placeholder]="translationsReference+'.ad_address' | translate"
      ></spr-filter-input>
      <spr-filter-input
        filters
        inputType="date"
        formControlName="update_timestamp"
        [placeholder]="translationsReference+'.update_timestamp' | translate"
      ></spr-filter-input>
      <spr-table-data-export
        buttons
        [translation]="translationsReference"
        [tableColumn]="cols"
        [tableData]="exportData"
        [fileName]="translationsReference+'.headerText'"
        (exportAllRecEvent)="loadAllRecords($event, dataTableComponent)"
      ></spr-table-data-export>
    </spr-browse-search-form>
  </div>
  <p-table
    [value]="data"
    responsiveLayout="stack"
    breakpoint="767px"
    [lazy]="true"
    (onLazyLoad)="loadDataLazy($event)"
    [rows]="showRows"
    [totalRecords]="totalRecords"
    [paginator]="data?.length > 0"
    [rowsPerPageOptions]="rowsPerPageOptions"
    [showFirstLastIcon]="false"
    [rowHover]="true"
  >
    <ng-template pTemplate="header">
      <tr>
        <ng-container *ngFor="let col of visibleColumns">
          <th pSortableColumn="{{col.field}}">
            {{translationsReference + '.' + col.field | translate}}
            <p-sortIcon field="{{col.field}}"></p-sortIcon>
          </th>
        </ng-container>
        <th>{{'common.generalUse.actions' | translate}}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row>
      <tr>
        <ng-container *ngFor="let col of visibleColumns">
          <td>
            <span class="p-column-title">
              {{translationsReference + '.' + col.field |translate}}
            </span>
            <span>{{row[col.field]}}</span>
          </td>
        </ng-container>
        <td>
          <ntis-table-row-actions [actions]="row.actions"></ntis-table-row-actions>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" translate>
      <tr>
        <td [attr.colspan]="cols.length + 1">
          <spr-table-no-rec-found></spr-table-no-rec-found>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-dialog [(visible)]="showDetailsDialog" [closable]="false" styleClass="ntis-dialog" [showHeader]="false"
    ><div *ngIf="addressDetails" class="address-info">
      <div class="address-info-name">{{translationsReference + '.addressDetailsHeader' | translate}}</div>
      <div>
        <spr-info-line
          [name]="translationsReference + '.ads_aob_code' | translate"
          [value]="addressDetails.ads_aob_code?.toString()"
        ></spr-info-line>
        <spr-info-line
          [name]="translationsReference + '.apl_pat_code' | translate"
          [value]="addressDetails.apl_pat_code?.toString()"
        ></spr-info-line>
        <spr-info-line
          [name]="translationsReference + '.ad_address' | translate"
          [value]="addressDetails.ad_address"
        ></spr-info-line>
        <spr-info-line
          [name]="translationsReference + '.update_timestamp' | translate"
          [value]="addressDetails.update_timestamp?.toString()"
        ></spr-info-line>
        <spr-info-line
          [name]="translationsReference + '.str_street_code' | translate"
          [value]="addressDetails.str_street_code?.toString()"
        ></spr-info-line>
        <spr-info-line
          [name]="translationsReference + '.str_name' | translate"
          [value]="addressDetails.str_name"
        ></spr-info-line>
        <spr-info-line
          [name]="translationsReference + '.re_recidence_code' | translate"
          [value]="addressDetails.re_recidence_code?.toString()"
        ></spr-info-line>
        <spr-info-line
          [name]="translationsReference + '.re_name' | translate"
          [value]="addressDetails.re_name"
        ></spr-info-line>
        <spr-info-line
          [name]="translationsReference + '.sen_code' | translate"
          [value]="addressDetails.sen_code?.toString()"
        ></spr-info-line>
        <spr-info-line
          [name]="translationsReference + '.sen_name' | translate"
          [value]="addressDetails.sen_name"
        ></spr-info-line>
        <spr-info-line
          [name]="translationsReference + '.ad_coordinate_latitude' | translate"
          [value]="addressDetails.ad_coordinate_latitude?.toString()"
        ></spr-info-line>
        <spr-info-line
          [name]="translationsReference + '.ad_coordinate_longitude' | translate"
          [value]="addressDetails.ad_coordinate_longitude?.toString()"
        ></spr-info-line>
      </div>
    </div>
    <span class="dialog-footer">
      <spr-button className="ntis-button-link" (click)="showDetailsDialog = false">
        {{'common.action.back' | translate}}
      </spr-button>
    </span>
  </p-dialog>
</spr-content-box>
