<spr-content-box headerText="institutionsAdmin.pages.serviceRequestsList.headerText" transformingText="uppercase">
  <div>
    <a [href]="labsCertificatesUrl" target="_blank" class="no-underline"
      >{{ formTranslationsReference + '.labsCertificatesUrl' | translate}}
      <fa-icon [icon]="faIconsService.fas.faArrowUpRightFromSquare"></fa-icon
    ></a>
  </div>
  <div class="spr-browse-actions-wrapper">
    <spr-browse-search-form [formGroup]="searchForm" [formCode]="formCode" (search)="search(dataTableComponent)">
      <spr-filter-input
        filters
        inputType="number"
        [maxLength]="10"
        formControlName="sr_id"
        [placeholder]="formTranslationsReference+'.sr_id' | translate"
      ></spr-filter-input>
      <spr-filter-input
        filters
        inputType="date"
        formControlName="sr_registration_date"
        [maxLength]="20"
        [placeholder]="formTranslationsReference+'.sr_registration_date' | translate"
      ></spr-filter-input>
      <spr-filter-input
        filters
        inputType="text"
        [maxLength]="50"
        formControlName="sr_req_applicant"
        [textTransform]="ExtendedSearchUpperLower.CaseInsensitiveLatin"
        [placeholder]="formTranslationsReference+'.sr_req_applicant' | translate"
      ></spr-filter-input>
      <spr-filter-input
        filters
        inputType="text"
        [maxLength]="50"
        formControlName="sr_srv_provider"
        [textTransform]="ExtendedSearchUpperLower.CaseInsensitiveLatin"
        [placeholder]="formTranslationsReference+'.sr_srv_provider' | translate"
      ></spr-filter-input>
      <spr-select
        filters
        formControlName="sr_status"
        classifierCode="NTIS_SRV_REQ_STATUS"
        [placeholder]="formTranslationsReference + '.sr_status_meaning' | translate"
        [advancedFilterParams]="true"
      ></spr-select>
      <spr-filter-input
        filters
        inputType="date"
        formControlName="sr_status_date"
        [maxLength]="20"
        [placeholder]="formTranslationsReference+'.sr_status_date' | translate"
      ></spr-filter-input>

      <spr-table-data-export
        buttons
        [translation]="formTranslationsReference"
        [tableColumn]="cols"
        [tableData]="exportData"
        [fileName]="formTranslationsReference+'.headerText'"
        (exportAllRecEvent)="loadAllRecords($event, dataTableComponent)"
      ></spr-table-data-export>
    </spr-browse-search-form>
  </div>
  <p-table
    [value]="data"
    [autoLayout]="true"
    [lazy]="true"
    (onLazyLoad)="loadDataLazy($event)"
    [rows]="showRows"
    [totalRecords]="totalRecords"
    [paginator]="data?.length > 0"
    [rowsPerPageOptions]="rowsPerPageOptions"
    [showFirstLastIcon]="false"
    responsiveLayout="stack"
    breakpoint="767px"
    [rowHover]="true"
  >
    <ng-template pTemplate="header" let-row let-index="rowIndex">
      <tr>
        <ng-container *ngFor="let col of visibleColumns">
          <th pSortableColumn="{{col.field}}">
            {{formTranslationsReference+'.'+col.field | translate}}
            <p-sortIcon field="{{col.field}}"></p-sortIcon>
          </th>
        </ng-container>
        <th>{{'common.generalUse.actions' |translate}}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row let-index="rowIndex">
      <tr>
        <ng-container *ngFor="let col of visibleColumns">
          <td>
            <span class="p-column-title">
              {{formTranslationsReference+'.'+col.field |translate}}
            </span>
            <span>{{row[col.field]}}</span>
          </td>
        </ng-container>
        <td>
          <span class="p-column-title">
            {{'common.generalUse.actions' |translate}}
          </span>
          <ntis-table-row-actions [actions]="row.actions"></ntis-table-row-actions>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" translate>
      <tr>
        <td [attr.colspan]="cols.length + 1">
          <spr-table-no-rec-found></spr-table-no-rec-found>
        </td>
      </tr>
    </ng-template>
  </p-table>
</spr-content-box>
