<p-table
  [value]="data"
  [autoLayout]="true"
  responsiveLayout="stack"
  breakpoint="767px"
  [lazy]="true"
  (onLazyLoad)="loadDataLazy($event)"
  [rows]="showRows"
  [totalRecords]="totalRecords"
  [paginator]="data?.length > 0"
  [rowsPerPageOptions]="rowsPerPageOptions"
  [showFirstLastIcon]="false"
  [rowHover]="true"
>
  <ng-template pTemplate="header" let-row let-index="rowIndex">
    <tr>
      <ng-container *ngFor="let col of cols">
        <th pSortableColumn="{{col.field}}">
          {{translationsReference + '.' + col.field | translate}}
          <p-sortIcon field="{{col.field}}"></p-sortIcon>
        </th>
      </ng-container>
      <th></th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-row>
    <tr>
      <ng-container *ngFor="let col of cols">
        <td>
          <span class="p-column-title">
            {{translationsReference + '.' + col.field |translate}}
          </span>
          <span>{{row[col.field]}}</span>
        </td>
      </ng-container>
      <td>
        <spr-button
          *ngIf="row.orfde_msg_code === municipalityName || row.orfde_msg_code === reName || row.orfde_msg_code === senName || row.orfde_msg_code === strName"
          class="spr-button-primary w-fit"
          [pTooltip]="translationsReference + '.addAddrMappingTooltip' | translate"
          tooltipPosition="left"
          iconName="faMapLocationDot"
          (click)="navigateToAdrMapping(row)"
          >{{translationsReference + '.addAddrMapping' | translate}}</spr-button
        >
      </td>
      <td>
        <spr-button
          *ngIf="row.orfde_msg_code === multipleWtf"
          class="spr-button-primary w-fit"
          [pTooltip]="translationsReference + '.multipleWtfTooltip' | translate"
          tooltipPosition="left"
          iconName="faBuilding"
          (click)="selectWtf(row)"
          >{{translationsReference + '.selectWtf' | translate}}</spr-button
        >
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage" translate>
    <tr>
      <td [attr.colspan]="cols.length">
        <spr-table-no-rec-found></spr-table-no-rec-found>
      </td>
    </tr>
  </ng-template>
</p-table>
<p-dialog
  [(visible)]="showSelectDialog"
  [draggable]="false"
  [header]="translationsReference + '.selectFacility' | translate"
>
  <section class="address-list">
    <ul class="address-list__item" *ngFor="let row of availableFacilities">
      <button class="address-card" (click)="selectFacility(row)">
        <span class="address-card__item" *ngIf="row.wtf_type">
          <span class="address-card__address-text">{{row.wtf_type + ' (' + row.wtf_id + ')'}}</span>
        </span>
        <span class="address-card__item" *ngIf="row.wtf_address">
          <spr-icon name="house"></spr-icon><span class="address-card__address-text">{{row.wtf_address}}</span>
        </span>
      </button>
    </ul>
  </section>
</p-dialog>
