<spr-content-box headerText="pages.sprParametersBrowse.headerText">
  <div class="spr-browse-actions-wrapper">
    <spr-browse-search-form [formGroup]="searchForm" [formCode]="formCode" (search)="search(dataTableComponent)">
      <spr-filter-input
        filters
        inputType="number"
        [maxLength]="5"
        formControlName="prp_id"
        [placeholder]="'pages.sprParametersBrowse.id' | translate"
      ></spr-filter-input>
      <spr-filter-input
        filters
        inputType="text"
        [maxLength]="20"
        formControlName="prp_name"
        [textTransform]="ExtendedSearchUpperLower.CaseInsensitiveLatin"
        [placeholder]="'pages.sprProperties.prp_name' | translate"
      ></spr-filter-input>
      <spr-filter-input
        filters
        inputType="text"
        [maxLength]="35"
        formControlName="prp_value"
        [textTransform]="ExtendedSearchUpperLower.CaseInsensitiveLatin"
        [placeholder]="'pages.sprProperties.prp_value' | translate"
      ></spr-filter-input>
      <spr-filter-input
        filters
        inputType="text"
        [maxLength]="20"
        formControlName="prp_guid"
        [textTransform]="ExtendedSearchUpperLower.CaseInsensitiveLatin"
        [placeholder]="'pages.sprProperties.prp_guid' | translate"
      ></spr-filter-input>
      <spr-filter-input
        filters
        inputType="text"
        formControlName="prp_description"
        [textTransform]="ExtendedSearchUpperLower.CaseInsensitiveLatin"
        [placeholder]="'pages.sprProperties.prp_description' | translate"
      ></spr-filter-input>
      <spr-filter-input
        filters
        inputType="text"
        [maxLength]="20"
        formControlName="prp_install_instance"
        [textTransform]="ExtendedSearchUpperLower.CaseInsensitiveLatin"
        [placeholder]="'pages.sprProperties.prp_install_instance' | translate"
      ></spr-filter-input>

      <spr-table-data-export
        buttons
        [translation]="'pages.sprProperties'"
        [tableColumn]="cols"
        [tableData]="exportData"
        [fileName]="'pages.sprParametersBrowse.headerText'"
        (exportAllRecEvent)="loadAllRecords($event, dataTableComponent)"
      ></spr-table-data-export>
      <spr-button-add buttons [routerLink]="[propertiesEditLink, 'new']"></spr-button-add>
    </spr-browse-search-form>
  </div>
  <p-table
    [value]="data"
    [autoLayout]="true"
    [lazy]="true"
    [paginator]="data?.length > 0"
    (onLazyLoad)="loadDataLazy($event)"
    [rows]="showRows"
    [totalRecords]="totalRecords"
    [rowsPerPageOptions]="rowsPerPageOptions"
    [showFirstLastIcon]="false"
    [sortField]="'1'"
    [sortOrder]="1"
    class="table-responsive"
    [rowHover]="true"
  >
    <ng-template pTemplate="header" let-row let-index="rowIndex">
      <tr>
        <th *ngFor="let col of visibleColumns" pSortableColumn="{{col.field}}">
          <span class="table-header-col">
            {{'pages.sprProperties.'+col.field | translate}}
            <p-sortIcon field="{{col.field}}" class="table-header-col__icon"></p-sortIcon>
          </span>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row let-index="rowIndex">
      <tr>
        <td
          *ngFor="let col of visibleColumns"
          [ngClass]="{'spr-text-right': col.type === dataTypeNumber, 'whitespace-nowrap': col.type === dataTypeDate}"
        >
          <span class="p-column-title">{{'pages.sprProperties.'+col.field | translate}}</span>
          <spr-text-truncate
            [text]="row[col.field]"
            [textLength]="col.textLength"
            [headerText]="'pages.sprProperties.'+col.field"
          ></spr-text-truncate>
        </td>
        <td>
          <spr-table-rec-actions [actionsList]="rowMenuItems[row.prp_id]"> </spr-table-rec-actions>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" translate>
      <tr>
        <td [attr.colspan]="cols.length + 1">
          <spr-table-no-rec-found></spr-table-no-rec-found>
        </td>
      </tr>
    </ng-template>
  </p-table>
</spr-content-box>
