<spr-content-box [headerText]="'pages.changePassword.headerText'">
  <div class="spr-edit-form-wrapper change-password">
    <span *ngIf="passwordExpired" class="change-password__message">
      <spr-icon name="error" size="24"></spr-icon>
      {{'common.error.passwordExpired' | translate}}
    </span>
    <spr-button-back *ngIf="!passwordExpired"></spr-button-back>

    <form [formGroup]="form" (submit)="onSubmit()" autocomplete="off">
      <spr-form-field
        [mandatory]="true"
        labelText="{{'pages.changePassword.oldPass' | translate}}"
        [isLabelHorizontal]="false"
        [inputErrors]="form.controls.oldPassword.touched && form.controls.oldPassword.errors"
      >
        <spr-input-password
          [controlName]="'oldPassword'"
          placeholder="{{'pages.changePassword.oldPass' | translate}}"
        ></spr-input-password>
      </spr-form-field>
      <spr-form-field
        labelText="{{'pages.changePassword.newPass' | translate}}"
        [isLabelHorizontal]="false"
        [errorDefs]="
          {
            minLength: 'common.error.passwordValidator', 
            minCapital: 'common.error.passwordValidator', 
            minDigits: 'common.error.passwordValidator'
          }"
        [inputErrors]="form.controls.newPassword.touched && form.controls.newPassword.errors"
        [tooltipText]="passwordRequirementsText"
      >
        <spr-input-password
          [controlName]="'newPassword'"
          placeholder="{{'pages.changePassword.newPass' | translate}}"
        ></spr-input-password>
      </spr-form-field>
      <spr-form-field
        labelText="{{'pages.changePassword.repeatPass' | translate}}"
        [isLabelHorizontal]="false"
        [inputErrors]="form.controls.repeatPassword.touched && form.controls.repeatPassword.errors"
        [errorDefs]="
          {
            minLength: 'common.error.passwordValidator', 
            minCapital: 'common.error.passwordValidator', 
            minDigits: 'common.error.passwordValidator'
          }"
      >
        <spr-input-password
          [controlName]="'repeatPassword'"
          placeholder="{{'pages.changePassword.repeatPass' | translate}}"
        ></spr-input-password>
      </spr-form-field>

      <button class="spr-button-primary">
        {{'pages.changePassword.changePass' | translate}}
      </button>
    </form>
  </div>
</spr-content-box>
