@layer components {
  .spr-input-text {
    @apply border border-neutral-300 text-neutral-900 
           focus:border-primary-500 focus:ring-transparent focus:outline-transparent 
           disabled:text-neutral-700 disabled:bg-neutral-100 disabled:cursor-default 
           placeholder:text-neutral-700
           text-base w-full transition-colors rounded;
  }

  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @extend .spr-input-text;
    @apply px-4 py-[7px];
  }

  .spr-checkbox {
    @apply w-5 h-5 p-0 border-0  relative #{!important};
    -moz-appearance: initial;

    &:hover:not(:disabled) {
      @apply shadow;
    }

    &::before {
      @apply bg-neutral-0 w-full h-full border border-neutral-300 inline-block absolute top-0 left-0;
      content: '';
    }

    &:hover:not(:disabled)::before {
      @apply bg-neutral-100 border-neutral-500;
    }

    &:checked::before {
      @apply text-primary-500  font-bold text-center;
      content: '\2713';
      font-size: 16px;
      line-height: 1.2;
    }

    &:checked:hover:not(:disabled)::before {
      @apply border-primary-600;
    }

    &:focus {
      @apply ring-0 outline-0 ring-offset-0;

      &::before {
        @apply border-primary-700;
      }
    }

    &:disabled::before {
      filter: brightness(0.8) contrast(0.8) grayscale(1);
    }
  }

  .spr-radio {
    @apply w-5 h-5 p-0 border-0 relative;
    -moz-appearance: initial;

    &:hover:not(:disabled) {
      filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.1));
    }

    &::before {
      @apply bg-neutral-0 w-full h-full rounded-full border border-neutral-300
              inline-block absolute top-0 left-0;
      content: '';
    }

    &:hover:not(:disabled)::before {
      @apply bg-neutral-100 border-neutral-500;
    }

    &:checked::before {
      @apply text-neutral-0 font-bold text-center bg-primary-500
              ring ring-inset ring-neutral-0;
    }

    &:checked:hover:not(:disabled)::before {
      @apply bg-primary-600 border-primary-600;
    }

    &:focus {
      @apply ring-0 outline-0 ring-offset-0;

      &::before {
        @apply border-primary-700;
      }
    }

    &:disabled::before {
      filter: brightness(0.8) contrast(0.8) grayscale(1);
    }
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    @apply appearance-none m-0;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    @apply ring-[100px] ring-inset ring-neutral-0 font-sans;
  }
}
