<spr-content-box headerText="pages.sprJobsBrowse.headerText">
  <div class="spr-browse-actions-wrapper">
    <spr-browse-search-form [formGroup]="searchForm" [formCode]="formCode" (search)="search(dataTableComponent)">
      <spr-filter-input
        filters
        inputType="number"
        [maxLength]="5"
        formControlName="jde_id"
        [placeholder]="'pages.sprJobsBrowse.jde_id' | translate"
      ></spr-filter-input>
      <spr-select
        filters
        formControlName="jde_type"
        classifierCode="SPR_JOB_DEF_TYPE"
        [placeholder]="'pages.sprJobsBrowse.jde_type' | translate"
        [advancedFilterParams]="true"
      ></spr-select
      ><spr-filter-input
        filters
        inputType="text"
        formControlName="jde_code"
        [placeholder]="'pages.sprJobsBrowse.jde_code' | translate"
      ></spr-filter-input>
      <spr-select
        filters
        formControlName="jde_status"
        classifierCode="SPR_JOB_DEF_STATUS"
        [placeholder]="'pages.sprJobsBrowse.jde_status' | translate"
        [advancedFilterParams]="true"
      ></spr-select>
      <spr-filter-input
        filters
        inputType="text"
        id="jde_name"
        formControlName="jde_name"
        [placeholder]="'pages.sprJobsBrowse.jde_name' | translate"
      ></spr-filter-input>
      <spr-filter-input
        filters
        inputType="text"
        id="jde_description"
        formControlName="jde_description"
        [placeholder]="'pages.sprJobsBrowse.jde_description' | translate"
      ></spr-filter-input>
      <spr-filter-input
        filters
        inputType="datetime"
        formControlName="jde_last_action_time"
        [placeholder]="'pages.sprJobsBrowse.jde_last_action_time' | translate"
        [dateConditions]="true"
      ></spr-filter-input>
      <spr-filter-input
        filters
        inputType="datetime"
        formControlName="jde_next_action_time"
        [placeholder]="'pages.sprJobsBrowse.jde_next_action_time' | translate"
        [dateConditions]="true"
      ></spr-filter-input>

      <spr-table-data-export
        buttons
        [tableColumn]="cols"
        [tableData]="exportData"
        translation="pages.sprJobsBrowse"
        fileName="pages.sprJobsBrowse.headerText"
        (exportAllRecEvent)="loadAllRecords($event, dataTableComponent)"
      ></spr-table-data-export>
      <spr-button-add buttons [routerLink]="[RoutingConst.EDIT, RoutingConst.NEW]"></spr-button-add>
    </spr-browse-search-form>
  </div>
  <p-table
    breakpoint="1079px"
    [value]="data"
    [autoLayout]="true"
    [lazy]="true"
    (onLazyLoad)="loadDataLazy($event)"
    [rows]="showRows"
    [totalRecords]="totalRecords"
    [paginator]="data?.length > 0"
    [rowsPerPageOptions]="rowsPerPageOptions"
    [showFirstLastIcon]="false"
    sortField="1"
    [sortOrder]="1"
    class="table-responsive"
    [rowHover]="true"
  >
    <ng-template pTemplate="header" let-row let-index="rowIndex">
      <tr>
        <th *ngFor="let col of visibleColumns" pSortableColumn="{{col.field}}">
          <span class="table-header-col">
            {{'pages.sprJobsBrowse.'+col.field | translate}}
            <p-sortIcon field="{{col.field}}" class="table-header-col__icon"></p-sortIcon>
          </span>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row let-index="rowIndex">
      <tr>
        <td
          *ngFor="let col of visibleColumns"
          [ngClass]="{'spr-text-right': col.type === dataTypeNumber, 'whitespace-nowrap': col.type === dataTypeDate}"
        >
          <span class="p-column-title " style="width: auto;">
            {{'pages.sprJobsBrowse.'+col.field |translate}}
          </span>
          <spr-text-truncate
            [text]="row[col.field]"
            [textLength]="col.textLength"
            [headerText]="'pages.sprJobsBrowse.'+col.field"
          ></spr-text-truncate>
        </td>
        <td>
          <spr-table-rec-actions [actionsList]="rowMenuItems[row.jde_id]"> </spr-table-rec-actions>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" translate>
      <tr>
        <td [attr.colspan]="cols.length + 1">
          <spr-table-no-rec-found></spr-table-no-rec-found>
        </td>
      </tr>
    </ng-template>
  </p-table>
</spr-content-box>
