<spr-content-box>
  <div *ngIf="data?.pageTemplateType" class="spr-edit-form-wrapper">
    <span class="text">{{ (translationsRef + '.headerText' | translate) + data?.pageTemplateType}}</span>
  </div>
  <div class="button-back-wrapper">
    <spr-button-back [disableLocationBack]="true" (navigateBack)="onReturn()"></spr-button-back>
  </div>
  <div class="spr-edit-form-wrapper">
    <article class="news">
      <h1 [ngClass]="data?.pageTemplateType ? 'news__heading--template' : 'news__heading'">{{data.nwTitle}}</h1>
      <div class="news__body">
        <span *ngIf="!data?.pageTemplateType" class="news__body-date"
          ><spr-icon name="today" /> {{data.nwPublished | s2Date}}</span
        >
        <span class="news__body-summary">{{data.nwSummary}}</span>
        <div class="ck-content" [innerHTML]="data.nwText | safeHtml"></div>
        <div class="file-card" *ngIf="data?.attachment.length > 0">
          <div *ngFor="let item of data.attachment" class="file-card__item group">
            <spr-icon name="file_download" class="file-card__item-icon" />
            <button type="button" class="file-card__item-text" (click)="downloadFile(item)">
              {{item.fil_name}}
            </button>
          </div>
        </div>
        <ng-container *ngIf="data?.isTemplate !== DB_BOOLEAN_TRUE">
          <hr />
          <div class="news__body-comment">
            <app-news-comment [showReply]="true" [recordId]="recordId" [commentsData]="data?.comments" />
          </div>
        </ng-container>
      </div>
    </article>
  </div>
</spr-content-box>
