<spr-content-box headerText="pages.404.headerText">
  <div class="not-found">
    <p class="not-found__top">{{'pages.404.pageNotFound' | translate}}</p>
    <p class="not-found__top">{{'pages.404.contactAdmin' | translate}}</p>
    <p class="not-found__top">{{'common.generalUse.or' | translate}}</p>
    <button class="spr-button-primary-hollow not-found__btn" (click)="navigate()">
      {{'pages.404.goBackToMainPage' | translate}}
    </button>
    <img class="not-found__img" src="../../../assets/img/page_not_found.svg" alt="" />
  </div>
</spr-content-box>
